<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="Name"
		 providerName="System.Data.ProviderName"
		 connectionString="Data Source=SQL8003.site4now.net;Initial Catalog=db_a8ec2f_zvyazok001;User Id=db_a8ec2f_zvyazok001_admin;Password=qRV9njR@m9KnjvG;" />
	</connectionStrings>
</configuration>
